<div class="titleLogin">
    <h3>Danh sách RFID mới được quét</h3>
</div>
<div class="formLogin">
    <form id="formLogin">
        <div class="showErr"></div>
        {{#if lcIsAuthenticated}}
        <div class="I_password" style="text-align: center;">
            <label for="rfid">Xin Chào {{lcAuthUser.full_name}}</label>
        </div>
        {{else}}
        {{#if rfid_account}}
        <div id="login_rfid">
            <div class="I_password">
                <label for="rfid">RFID</label><br />
                <input type="password" id="rfid" value="{{rfid_account}}" name="rfid"
                    placeholder="Vui lòng nhập mã RFID"></input>
            </div>
        </div>
        {{else}}
        <div class="I_gmail">
            <label for="user_name">Username</label> <br />
            <input type="text" id="user_name" name="user_name" placeholder="Enter your username"></input>
        </div>
        <div class="I_password">
            <label for="password">Password</label><br />
            <input type="password" id="password" name="password" placeholder="Enter your password"></input>
        </div>
        <div class="I_password" style="display: none;">
            <label for="rfid">RFID</label><br />
            <input type="hidden" id="rfid" value="" name="rfid" placeholder="Vui lòng nhập mã RFID"></input>
        </div>
        {{/if}}
        <div id="showFormLogin" style="display: none">
            <div class="I_gmail">
                <label for="user_name">Username</label> <br />
                <input type="text" id="user_name" name="user_name" placeholder="Enter your username"></input>
            </div>
            <div class="I_password">
                <label for="password">Password</label><br />
                <input type="password" id="password" name="password" placeholder="Enter your password"></input>
            </div>
            <div class="I_password" style="display: none;">
                <label for="rfid">RFID</label><br />
                <input type="hidden" id="rfid" value="" name="rfid" placeholder="Vui lòng nhập mã RFID"></input>
            </div>
        </div>
        <div class="bottom_form mb-4">
            <a href="javascript:void(0)" onclick="submitFormLogin()"> LOGIN</a>
            <a href="javascript:void(0)" id="loginWithUs" onclick="loginWithUs()">LOGIN WITH USER</a>
        </div>
        {{/if}}
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="titleLogin">
                <h3>Danh sách RFID chưa tồn tại</h3>
            </div>
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã RFID</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each nExRFID}}
                    <tr>
                        <td class="rfid_nEx"><input type="password" disabled="" value="{{value}}"
                                class="form-control" /></td>
                        <td>
                            {{#if TAO_TAI_KHOAN}}
                            <button type="button" id="dangkyaccount" style="
    width: 45%;
" data-toggle="modal" data-target="#Register_Account" onclick="bidingData('{{value}}')" class="btn btn-info">Đăng ký
                                tài khoản</button>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="modal fade" id="Register_Account" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title text-uppercase text-center" id="exampleModalLongTitle">Đăng ký tài khoản</h5>
            </div>
            <div class="modal-body">
                <div class="formRegister">
                    <form id="formRegister">
                        <div class="showErr_01"></div>
                        <div class="I_gmail">
                            <label for="full_name">Họ và tên</label> <br />
                            <input type="text" name="full_name" id="full_name" placeholder="Nhập họ và tên"></input>
                        </div>
                        <div class="I_gmail">
                            <label for="username">Tên tài khoản</label> <br />
                            <input type="text" id="user_name" name="user_name" placeholder="Nhập tên tài khoản"></input>
                        </div>
                        <div class="I_gmail">
                            <label for="roomUser">Phòng Ban</label> <br />
                            <input type="text" id="roomUser" name="roomUser" placeholder="Nhập phòng ban"></input>
                        </div>
                        {{#if rfid}}
                        <div class="I_gmail">
                            <label for="rfid">Rfid</label> <br />
                            <input type="password" id="rfid" disabled="" name="rfid" value="{{rfid}}"
                                disabled="disabled" placeholder="Nhập mã rfid"></input>
                        </div>
                        {{else}}
                        <div class="I_gmail">
                            <label for="rfid">Rfid</label> <br />
                            <input type="password" disabled="" id="rfid" name="rfid" placeholder="Nhập mã rfid"></input>
                        </div>
                        {{/if}}
                        <div class="I_password">
                            <label for="password">Mật khẩu</label><br />
                            <input type="password" id="password" name="password" placeholder="Nhập mật khẩu"></input>
                        </div>
                        <div class="I_password">
                            <label for="cf_password">Xác nhận mật khẩu</label><br />
                            <input type="password" id="cf_password" name="cf_password"
                                placeholder="Xác nhận mật khẩu"></input>
                        </div>
                        <div class="bottom_form">
                            <a href="javascript:void(0)" onclick="submitFormRegister()"> ĐĂNG KÝ </a>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="editRegisterAccount"
                    data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script>
    function loginWithUs() {
        $("#showFormLogin").css("display", "block");
        $("#login_rfid").css("display", "none");
        $("#loginWithUs").css("display", "none");
        let rfid_value = document.getElementById("rfid").value = "";
    }
    function bidingData(rfid) {
        let rfidT = document.querySelector('#rfid');
        let dangkyaccount = document.querySelector('#dangkyaccount');
        rfidT.value = rfid;
    }
    function submitFormLogin() {
        let rfid_value = document.getElementById("rfid");
        let user_name = document.getElementById("user_name");
        let password = document.getElementById("password");
        let showMsg = document.querySelector('.showErr');
        if (rfid_value.value == "") {
            let data = {
                user_name: user_name.value,
                password: password.value
            }
            fetch("/user/login", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.msgErr) {
                        showMsg.innerHTML = data.msgErr;
                        showMsg.style.display = "block";
                        setTimeout(() => {
                            showMsg.style.display = "none";
                        }, 2000);
                    } else {
                        let pathname = window.location.pathname;

                        if (pathname && pathname != '/user/login') {
                            window.location.replace(pathname);
                        }
                    }

                })
        } else {
            let data = {
                rfid: rfid_value.value
            }
            fetch("/user/loginRFID", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.msgErr) {
                        showMsg.innerHTML = data.msgErr;
                        showMsg.style.display = "block";
                        setTimeout(() => {
                            showMsg.style.display = "none";
                        }, 2000);
                    } else {
                        let pathname = window.location.pathname;

                        if (pathname && pathname != '/user/login') {
                            window.location.replace(pathname);
                        }
                    }

                })
        }
    }

    function submitFormRegister() {
        let showErr = document.querySelector('.showErr_01');
        let full_name = document.querySelector('#full_name').value;
        let user_name = document.querySelector('#user_name').value;
        let rfid = document.querySelector('#rfid').value;
        let cf_password = document.querySelector('#cf_password').value;
        let password = document.querySelector('#password').value;
        let roomUser = document.querySelector('#roomUser').value;
        let data = {
            full_name: full_name,
            user_name: user_name,
            rfid: rfid,
            password: password,
            roomUser
        }
        if (validate(full_name, user_name, rfid, password, cf_password, roomUser)) {
            fetch("/user/register", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.msgErr == undefined) {
                        socket.emit('REGISTER_ACCOUNT', ({
                            full_name: `${full_name}`, msgRegister: `Vừa đăng ký tài khoản.`
                        }));
                        showErr.innerHTML = data.msgSuccess;
                        showErr.style.display = "block";
                        setTimeout(() => {
                            showErr.style.display = "none";
                            let editRegisterAccount = document.querySelector('#editRegisterAccount');
                            editRegisterAccount.click();
                            window.location.reload();
                        }, 2000)
                    } else {
                        showErr.innerHTML = data.msgErr;
                        showErr.style.display = "block";
                        setTimeout(() => {
                            showErr.style.display = "none";
                        }, 2000)
                        user_name = "";
                        password = "";
                    }
                })

        }

    }

    function validate(full_name, user_name, rf_id, password, cf_password, roomUser) {
        if (full_name == "") {
            alert("Please enter fullname.");
            return false;
        }
        if (user_name == "") {
            alert("Please enter username.");
            return false;
        }
        if (rf_id == "") {
            alert("Please enter rfid.");
            return false;
        }
        if (password == "") {
            alert("Please enter password.");
            return false;
        }
        if (roomUser == "") {
            alert("Please enter roomUser.");
            return false;
        }
        if (password.length < 6) {
            alert("Please enter password must be at least 6 characters");
            return false;
        }
        if (password != cf_password) {
            alert("Confirm password incorret.");
            return false;
        }
        return true;
    }
</script>

{{/section}}

{{#section 'title'}}
SCAN RFID
{{/section}}